div {
		background-attachment:initial;
		background-clip:initial;
		background-image:initial;
		background-origin:initial;
		background-position:initial initial;
		background-repeat:initial initial;
		border-bottom-left-radius:10px 10px;
		border-bottom-right-radius:10px 10px;
		border-top-left-radius:10px 10px;
		border-top-right-radius:10px 10px;
		margin: 6px;
		color:black;
		width: 100%;
		overflow: auto;
		background-color:#E6E6E6;
}

.feedback {
	width: 32%;
	height: 70%;
	overflow: auto;	
}

#good {
	background-color:green;
	float:left;
}

#notsogood {
	background-color:red;
	float:left;
}

#suggestion {
	background-color:yellow;
	float:left;
}

p#title {
	font-size: 3.0em;
	display: inline;
}